.App {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 1.5rem;

  @media(min-width: 720px) {
    margin: 5rem 3rem 3rem 3rem;
  }

  @media(min-width: 1000px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "item1 item2"
      "item3 item3";
    margin: 0 10%;
  }
}

html {
  scroll-behavior: smooth;
}